
<div class="mdl-grid">
  
  
  <div class="mdl-cell mdl-cell--12-col mdl-typography--text-center">
    <h1>Impuestos<strong> Digitales</strong></h1>
  </div>  

<mat-card class="tgr-center tgr-content-center mdl-cell--8-col">
  
  <mat-card-header>
    <mat-card-title>CONSULTA DE CUENTAS MONEX</mat-card-title>
  </mat-card-header>
  
  <mat-card-content class="tgr_bottom">
  
  <span class="tgr-tab-label">Buscar por: </span>
  <mat-tab-group mat-align-tabs="end">
    
  <mat-tab label="RUT">
    <form class="tgr-tab-form tgr_top" [formGroup] = "forma" (ngSubmit) = "setDataRut()"  novalidate = "novalidate">
                
      <mat-form-field>
        <input matInput placeholder="RUT" name = rut formControlName ="identificacion" formatRut required validateRut required (input) = 'comprobarRut($event.target.value)'>
        <mat-error *ngIf="forma?.get('identificacion').hasError('required')">Debe Ingresar un Rut</mat-error>
        <mat-error *ngIf="forma?.get('identificacion').hasError('setValidity')">Formato Rut Incorrecto</mat-error>
        <mat-error *ngIf="forma?.get('identificacion').hasError('incorrect')">Datos ingresados no corresponden a formato definido</mat-error>
      </mat-form-field>
              
      <mat-form-field>
        <input matInput placeholder="Formulario" formControlName ="formulario" maxlength = '3' (input) = "avisoInput()" >
        <mat-error *ngIf="forma?.get('formulario').hasError('maxLength')">Largo Maximo de 3</mat-error>
      </mat-form-field>
              
      <div class="tgr_date_picker">
        
            <h4>Fecha de vencimiento</h4>
            
            <mat-form-field>
              <input matInput readonly [matDatepicker]="pickerhasta" placeholder="Hasta" formControlName = "fechaHasta" (dateChange) = "pruebainputRut()" (dateChange) = "avisoInput()">
              <!--<mat-error *ngIf="forma?.get('fechaHasta').hasError('required')">Debe Ingresar una fecha</mat-error>-->
              <mat-error *ngIf="forma?.get('fechaHasta').hasError('incorrect')">Debe Ingresar una fecha menor a la anterior</mat-error>
              <mat-datepicker-toggle matSuffix [for]="pickerhasta"></mat-datepicker-toggle>
              <mat-datepicker #pickerhasta></mat-datepicker>
            </mat-form-field>
           
            
            <mat-form-field>
              <input matInput readonly [matDatepicker]="pickerdesde" placeholder="Desde" formControlName = "fechaDesde" data-date-format="YYYY MMMM DD" (dateChange) = "avisoInput()" >
              <!--<mat-error *ngIf="forma?.get('fechaDesde').hasError('required')">Debe Ingresar una fecha</mat-error>-->
              <mat-datepicker-toggle matSuffix [for]="pickerdesde"></mat-datepicker-toggle>
              <mat-datepicker #pickerdesde ></mat-datepicker>
            </mat-form-field>
      
      </div>
            
        <mat-form-field>
          <mat-label>Saldo</mat-label>
            <mat-select formControlName = "saldo" (selectionChange) = "avisoInput()">
            <mat-option value = "deudor">
              Deudor
            </mat-option>
            <mat-option value = "acreedor">
              Acreedor
            </mat-option>
            <mat-option value = "0">
              0
            </mat-option>
             <mat-option value = "">
              Sin Especificar
            </mat-option>
          </mat-select>
        </mat-form-field>
      
    </form>
    
      <button (click) = limpiarFormRut() class="mdl-button tgr-button-limpiar"><i class="material-icons">close</i> Limpiar Campos</button>        
      <button class="mdl-button tgr-button-action" (click) = setDataRut();  [disabled] = !botonBuscar ><i class="material-icons">search</i> Buscar</button>

    <div *ngIf = botonDatosIncompletos>
      Para consultar por este filtro debe ingresar Rut y/o Folio
    </div>
  </mat-tab>
            
            
  <mat-tab label="Folio">
    
      <form class="tgr-tab-form tgr_top" [formGroup] = "formaFolio" (ngSubmit) = "setDataFolio()" novalidate = "novalidate">
        
        <mat-form-field>
          <input matInput placeholder="Folio"  formControlName ="folio" required (input) = "avisoInput()"  (keypress)="numberOnly($event)">
          <mat-error *ngIf="formaFolio?.get('folio').hasError('required')">Para consultar por este filtro debe ingresar un folio </mat-error>
          <mat-error *ngIf="formaFolio?.get('folio').hasError('maxlength')"> Datos ingresados no corresponden a formato definido</mat-error>
        </mat-form-field>
              
        <mat-form-field>
           <input matInput placeholder="Formulario" formControlName ="formulario"  (input) = "avisoInput()"  (keypress)="numberOnly($event)" >
           <mat-error *ngIf="forma?.get('formulario').hasError('maxLength')">Largo Maximo de 3</mat-error>
           <mat-error *ngIf="formaFolio?.get('formulario').hasError('maxlength')">Datos ingresados no corresponden a formato definido</mat-error>
        </mat-form-field>
        
        <div class="tgr_date_picker">
          
          <h4>Fecha de vencimiento</h4>
          
          <mat-form-field>
            <input matInput readonly [matDatepicker]="pickerhastafolio" placeholder="Hasta" formControlName = "fechaHasta" (dateChange) = "pruebainput()" (dateChange) = "avisoInput()" >
            <!--<mat-error *ngIf="forma?.get('fechaHasta').hasError('required')">Debe Ingresar una fecha</mat-error>-->
            <mat-error *ngIf="formaFolio?.get('fechaHasta').hasError('incorrect')">Debe Ingresar una fecha menor a la anterior</mat-error>
            <mat-datepicker-toggle matSuffix [for]="pickerhastafolio" ></mat-datepicker-toggle>
            <mat-datepicker #pickerhastafolio ></mat-datepicker>
          </mat-form-field>
              
          <mat-form-field>
            <input matInput readonly [matDatepicker]="pickerdesdefolio" placeholder="Desde" formControlName = "fechaDesde" data-date-format="DD MMMM YYYY" >
            <!--<mat-error *ngIf="formaFolio?.get('fechaDesde').hasError('required')">Debe Ingresar una fecha</mat-error>-->
            <mat-datepicker-toggle matSuffix [for]="pickerdesdefolio"></mat-datepicker-toggle>
            <mat-datepicker #pickerdesdefolio></mat-datepicker>
          </mat-form-field>
            
        </div>      
            
        <mat-form-field>
          <mat-label>Saldo</mat-label>
            <mat-select formControlName = "saldo" (selectionChange) = "avisoInput()">
            <mat-option value = "deudor" (selectionChange) = "avisoInput()">
              Deudor
            </mat-option>
            <mat-option value = "acreedor">
              Acreedor
            </mat-option>
            <mat-option value = "0">
              0
            </mat-option>
            <mat-option value = "">
              Sin Especificar
            </mat-option>
          </mat-select>
        </mat-form-field>
            
        </form>
         <button (click) = limpiarFormFolio() class="mdl-button tgr-button-limpiar"><i class="material-icons">close</i> Limpiar Campos</button>    
        <button class="mdl-button tgr-button-action" (click) = setDataFolio(); [disabled] = !botonBuscarFolio ><i class="material-icons">search</i> Buscar</button>
    <div *ngIf = botonDatosIncompletos>
      Para consultar por este filtro debe ingresar Rut y/o Folio
    </div>
            
    </mat-tab>
  </mat-tab-group>  
    
  </mat-card-content>
  
</mat-card>

</div>



        

