.tgr-tab-form {
    display: flex;
    flex-direction: column;
    > * {
        width: 100%;
        padding: 10px;
    }
}

.tgr_date_picker{
        width:60% !important;
        margin-left:auto;
        margin-right:auto;
        /*direction: rtl;*/
    
        h4{
            font-size:14px;
            float:left;
            color:#757575;
        }
    
        .mat-form-field{
            width: 35% !important;
            float:right;
            padding-left:20px;
            padding-top:15px;
        }
}

.mdl-button {
  &.tgr-button-action {
      margin-left:46%;
      margin-top:5px;
      border-radius:4px;
      font-weight:600;
      background-color: #448AFF;
      color: #ffffff;
      &[disabled] {
        background-color: #F0F0F0;
        color: #757575;
        opacity: 0.6;
      }
  }
  
  &.tgr-button-limpiar {
      margin-top:5px;
      border-radius:4px;
      font-weight:600;
      background-color: white;
      color: #545455;
      border: #545455 solid 1px;
      margin-left: 0 !important;
  }
}

.tgr-botones{
    justify-content:space-evenly;
}

.tgr_sin_giro{
    background-color:white;
    border: #3d8af7 1px solid;
    border-radius:4px;
    padding:10px;
    color:#3d8af7;
    text-transform:uppercase;
    min-width:400px;
    margin-top:20px;
    cursor: pointer;
    &[disabled] {
        background-color: #F0F0F0;
        color: #757575;
        opacity: 0.6;
        cursor: context-menu;
      }
}