/* Global Styles */
@import 'tgr_material.css';

/* Etiquetas HTML */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #EAEFF5;
    margin: 0 auto;
}

h1{
    font-family: "Montserrat", sans-serif !important;
    font-size:20px !important;
    color:#2f3c89;
    margin-top:10px !important;
}

/* LAYOUT */

.mdl-layout__content {
    margin-top: 64px;
    padding-bottom: 120px;
    @media (max-width: 1024px) {
        margin-top: 56px;
    }
}

/* Estilos TGR */

.mat-card-title{
    font-size:16px !important;
    color:#757575;
    margin:0 auto;
    font-weight: 300 !important;
}

.mat-card-header{
    justify-content: center;
}

.mat-form-field{
    width: 60%!important; 
    margin-left:auto;
    margin-right:auto;
}

.tgr_buscar{
    width: 80%!important; 
    margin-left:auto;
    margin-right:auto;
}

.tgr-tab-label {
    position: absolute;
    top:70px;
    left:40px;
    font-weight:bold;
    color: #2f3c89;
    font-size:15px;
}

.tgr_top {
    margin-top:20px;
}

.tgr_bottom {
    margin-bottom:20px !important;
}

.tgr_datos_rut{
    color:#2f3c89;
    font-size:18px !important;
    font-family: "Montserrat", sans-serif !important;
    padding-top:10px !important;
}

.mat-table{
    border:rgba(0, 0, 0, 0.12) solid 1px !important;
    box-shadow: none !important;
}

// .tgr-columna{
//     flex-direction: column !important;
//     flex-wrap: nowrap;
// }

.tgr-center{
    margin:0 auto !important;
}

.tgr-content-center{
    text-align:center;
}

.tgr-center-titulo{
    text-align:center !important;
}

.mat-checkbox{
  background: #fff;
}

// FOOTERS
.footer {
    background: #fff;
    bottom: 0;
    box-shadow: 0 3px 26px 0 #a8a8a8;
    display: block;
    left: 0;
    min-height: 60px;
    position: fixed;
    right: 0;
    z-index: 900;
    &.tgr-footer--procesar {
        display: flex !important;
        justify-content: center !important;
        align-items: center;
        button {
            height: fit-content;
            margin-right: 14px;
            margin-left: 14px;
            &:first-of-type {
                background-color: #E6E6E6;
                color: #757575;
            }
            &:last-of-type {
                background-color: #00b344;
                color: #FFFFFF;
            }
        }
    }
}