<div class="tgr-layout-container mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <app-header></app-header>
    
      <main class="mdl-layout__content">
        <div *ngIf="!ocultarForm && !verTablaDatos && !verMov && !verDetalleItem && !cargaDatos">
        <app-inicio (mostrarTabla) = "estadoMostrarTabla($event)" (datosForm) = "getDatosForm($event)"  (datosFormFolio) = "getDatosFormFolio($event)" (tipoConsulta) = "tipoConsulta($event)" ></app-inicio>
        </div>
        
        <div *ngIf = "ocultarForm && !verTablaDatos && !verMov && !verDetalleItem && !cargaDatos">
          <app-tabla-datos [datosPrincipal] = "movParaTabla"  (fila) ="getDatosTable($event)"  (volverForm) = "volverForm($event)" [tipoConsulta] = "consultaTipo" > </app-tabla-datos>
        </div>
        
        
        <div *ngIf = "!ocultarForm && verTablaDatos && !verMov  && !verDetalleItem && !cargaDatos ">
          <app-tabla-movimiento [filaTabla] = "detalleMovParaTabla" (volverTablaDatos) = "volverTablaDatos($event)" (movimientoSeleccionado) = "getMovimientoSeleccionado($event)"  ></app-tabla-movimiento>
        </div>
        
          <div *ngIf ="verDetalleItem && !cargaDatos ">
          <app-ver-item [movConsultado] = "detalleItem" (volverSeleccioMov) = "volverTablaMovimientos($event)"></app-ver-item>
        </div>
        
        <div *ngIf = "cargaDatos && !ocultarForm">
          cargando datos espere
        </div>
        
    </main>
    
    
</div>