<div class="tgr-layout-container mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <app-header></app-header>
    
      <main class="mdl-layout__content">
        <div *ngIf="!ocultarForm && !verTablaDatos && !verMov && !verDetalleItem">
        <app-inicio (mostrarTabla) = "estadoMostrarTabla($event)" (datosForm) = "getDatosForm($event)"></app-inicio>
        </div>
        
        <div *ngIf = "ocultarForm && !verTablaDatos && !verMov && !verDetalleItem">
          <app-tabla-datos [objetoForm] = "objetoForm"  (fila) ="getDatosTable($event)"  (volverForm) = "volverForm($event)"> </app-tabla-datos>
        </div>
        
        
        <div *ngIf = "!ocultarForm && verTablaDatos && !verMov  && !verDetalleItem ">
          <app-tabla-movimiento [filaTabla] = "objetoTabla" (volverTablaDatos) = "volverTablaDatos($event)" (movimientoSeleccionado) = "getMovimientoSeleccionado($event)"  ></app-tabla-movimiento>
        </div>
        
          <div *ngIf ="verDetalleItem ">
          <app-ver-item [movConsultado] = "movSeleccionado" (volverSeleccioMov) = "volverTablaMovimientos($event)"></app-ver-item>
        </div>
        

        
        <!--<div *ngIf = "!cargaDatosFinalizada && ocultarForm">-->
        <!--  cargando datos espere-->
        <!--</div>-->
        
    </main>
    
    
</div>