<div class="footer" *ngIf ="sinAplicar && permisoAplicacion">

    
    <div class="mdl-grid tgr-row--nospace mdl-typography--text-center">
        
        <div class="mdl-cell--8-col tgr-centro-footer tgr-center">

            <span><strong>{{Ngiros}} </strong>archivos seleccionados</span>
            <button  class="mdl-button tgr-button-action tgr_margin_right" mat-button (click) = "aplicarGiro()" [disabled] = botonGiros > Ingreso Aplicación Con Giro</button>
        
        </div>
        
    </div>

</div>

<div class="footer tgr-footer--procesar" *ngIf = "!sinAplicar">
    <button mat-button (click) = "volverAtrasFooter()">
        <i class="material-icons">keyboard_arrow_left</i>
        VOLVER
    </button>
    
    <button mat-raised-button (click) = "botonAplicarGiro()" class="mdl-button tgr-button-action">
        APLICAR
    </button>
</div>