<header class="tgr-header mdl-layout__header mdl-shadow--2dp">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div>
        <div class="mdl-layout-spacer"></div>
        <a href="/">
            <img src="../assets/Images/LOGO-INTRANET.svg" alt="logo Tesorería General de la República">
        </a>
        <div class="mdl-layout-spacer"></div>
        <div class="tgr-header-user" >
            <div id="tgr-header-user-button">
                <button class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">account_circle</i>
                </button>
                <span>Hola {{ nombre }}</span>
            </div>
            <ul for="tgr-header-user-button" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect tgr-header-user-options">
                <li class="mdl-menu__item" (click)="cerrarSesion()">Cerrar Sesión</li>
            </ul>
        </div>
    </div>
</header>
<div class="mdl-layout__drawer" [class.is-visible]="indVer">
    <div class="tgr-user-logged">
        <p>Bienvenido/a</p>
        <h5 class="text-mont">{{ nombre}}</h5>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect tgr-button--basic-white" (click)="cerrarSesion()">
    CERRAR SESIÓN
    <i class="material-icons">cancel</i>
  </button>
    </div>
    <nav class="mdl-navigation">
        <a href="https://www.tgr.cl" class="mdl-navigation__link"><i class="material-icons">laptop_chromebook</i><strong>Ir a tgr.cl</strong></a>
    </nav>
</div>
<div class="mdl-layout__drawer-button" (click)="verMenu()">
    <i class="material-icons">menu</i>
</div>
<div class="mdl-layout__obfuscator is-visible" [class.is-visible]="indVer" (click)="verMenu()"></div>



<!--<header class="tgr-header mdl-layout__header mdl-shadow--2dp">-->
<!--    <div class="mdl-layout__header-row">-->
<!--        <div class="mdl-layout-spacer"></div>-->
<!--        <a href="/">-->
<!--            <img src="https://front.tgr.cl/temas/cuchufli/corporativos/logos/20190628/tgr-logo-small.svg" alt="logo Tesorería General de la República">-->
<!--        </a>-->
<!--        <div class="mdl-layout-spacer"></div>-->
<!--        <div class="tgr-header-user">-->
<!--            <div id="tgr-header-user-button">-->
<!--                <button class="mdl-button mdl-js-button mdl-button--icon">-->
<!--        <i class="material-icons">account_circle</i>-->
<!--      </button>-->
<!--                <span>Hola {{ nombre | titlecase }}</span>-->
<!--            </div>-->
<!--            <ul for="tgr-header-user-button" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect tgr-header-user-options">-->
<!--                <li class="mdl-menu__item" (click)="cerrarSesion()">Cerrar Sesión</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<!--<div class="mdl-layout__drawer" [class.is-visible]="indVer">-->
<!--    <div class="tgr-user-logged">-->
<!--        <p>Bienvenido/a</p>-->
<!--        <h5 class="text-mont">{{ nombre | titlecase }}</h5>-->
<!--        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect tgr-button--basic-white" (click)="cerrarSesion()">-->
<!--    CERRAR SESIÓN-->
<!--    <i class="material-icons">cancel</i>-->
<!--  </button>-->
<!--    </div>-->
<!--    <nav class="mdl-navigation">-->
<!--        <a href="https://www.tgr.cl" class="mdl-navigation__link"><i class="material-icons">laptop_chromebook</i><strong>Ir a tgr.cl</strong></a>-->
<!--        <a href="https://www.tgr.cl/contacto" class="mdl-navigation__link"><i class="material-icons">feedback</i>Formulario de Contacto</a>-->
<!--        <a href="#" class="mdl-navigation__link"><i class="material-icons">help_outline</i>Centro de Ayuda</a>-->
<!--    </nav>-->
<!--</div>-->
<!--<div class="mdl-layout__drawer-button" (click)="verMenu()">-->
<!--    <i class="material-icons">menu</i>-->
<!--</div>-->
<!--<div class="mdl-layout__obfuscator is-visible" [class.is-visible]="indVer" (click)="verMenu()"></div>-->