<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="tgr-header mdl-layout__header mdl-shadow--2dp">
    <div class="mdl-layout__header-row">
      <div class="mdl-layout-spacer"></div>
      <!--<a href="/">-->
      <!--  <img src="https://front.tgr.cl/temas/cuchufli/corporativos/logos/20190628/tgr-logo-small.svg" alt="logo Tesorería General de la República">-->
      <!--</a>-->
      <div class="mdl-layout-spacer"></div>
      <div class="tgr-header-user">
        <div id="tgr-header-user-button">
          <button class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">account_circle</i>
          </button>
          <span>"Mensaje por definir ya que no trae el nombre cognito"<!--Hola Carolina--></span>
        </div>
        <ul for="tgr-header-user-button" class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect tgr-header-user-options">
          <li class="mdl-menu__item" (click)="iniciarSesion()">iniciar Sesion</li>
        </ul>
      </div>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
      Título
    </span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
  <div class="mdl-layout__drawer-button">
    <i class="material-icons">menu</i>
  </div>
</div>
  